{% load static %}

<style>
    .logo{
        margin-left: 10px;
        margin-right:10px;
        margin-top: 10px;
    }
    #logo{
        width: 30px;
      
    }
    .navbar{
        display:flex;
        justify-content: space-between;
    }
    .navbar-left{
        display:flex;
    }
    #lists{
        display:flex;
        justify-content: space-between;
        width: 1000px;
    }
    #lists2{
        display:flex;
        justify-content: space-between;
        width: 300px;
    
    }
      

</style>
<nav class="navbar">
    <div class="navbar-left">
        <div class="logo">
            <img id="logo" src=" {% static 'images/logo.png' %} ">
        </div>
            
        <div class="navbar-item">
            <ul id="lists">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">General</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">General</a></li>

            </ul>
        </div>
            
        
    </div>
    
    <div class="navbar-right">
        <ul id="lists2">
            <li><a href="#">SignUp</a></li>
            <li><a href="#">SignIn</a></li>
            <li><a href="#">SignOut</a></li>
        </ul>
    </div>
</nav>
    
</nav>